<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Adopet</title>
    <link rel="icon" href="/img/logo-icon.svg" />
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="stylesheet" href="/css/page-landing.css"/>
  </head>

  <body>
    <div id="page-landing">
      <div id="container">
        <!-- ==========HEADER========== -->
        <header class="adopet-header">
          <div class="nav__logo">
            <a href="/" class="logo"><strong>Adopet</strong></a>
          </div>

          <div class="location">
            <strong>São Luís</strong>
            <p>Maranhão</p>
          </div>
        </header>

        <!-- ==========Main========== -->
        <main>
          <h1>Faça um animal feliz</h1>
          <section class="visit">
            <p>Visite o abrigo mais próximo e adote um pet.</p>
            <a href="/kennels" title="Visite os abrigos">
              <img src="/img/arrow.svg" alt="Ir para o mapa" />
            </a>
          </section>
        </main>
      </div>
    </div>

    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
